@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Online Kütüphane </strong></h1>
    <br />
    <br />
    <p><img src="~/img/libary.jpg"/></p>
</div>
