@{
    ViewData["Title"] = "İletişim Bilgileri";
}
<h1>@ViewData["Title"]</h1>
<br />
<br />
<h3>Buray Mahallesi Edis Caddesi no: 15</h3>
<h3>Selçuklu / KONYA</h3>
<h3><a href="mailto:ihsanozkaya1903@gmail.com">ihsanozkaya1903@gmail.com</a></h3>

